.wp-block-table {
    table {
        width: 100%;
        thead {
            @apply border-b-[2px] border-secondary;
            tr{
                th {
                    @apply bg-secondary;
                    color: white;
                    text-align: left;
                    padding: 20px;
                }
            }
        }
        tbody {
            tr{
                @apply border-b-[1px] border-secondary;
                td {
                    padding: 20px;
                    a{
                        text-decoration: underline;
                    }
                }

                &:last-child {
                    border: 0px;
                }
            }
        }
    }
}
